#header{
	background-color: #1a1a1a;
	height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;    
} 

#menu {
    display: flex;      
    gap: 20px;          
    margin-right: 20px; 
}

form {
    margin-left: 20px;
}

#audio-icon{
    width: 40px;
    height: auto;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	padding: 20px;
	font-size: 20px;
    color: #fff;
    font-family: sans-serif;
    /*margin-top: auto;*/
}

nav ul li a{
	color: #FFF;
    
	text-decoration: none;
	letter-spacing: 0.1rem;
}

body{
    margin: 0;
    height: 100vh;
    background-color: #1a1a1a;
    font-family: 'Courier New', monospace;
}


#main-container{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 0%;
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #0d0d0d; /*#FFF;*/
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}


h2 {
    font-family: serif;
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 1.5em;
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-family: serif;
    margin-top: 3rem;
    color: #fff;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: underline;
}

.para,.choice{
    padding-bottom: 7%;
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/

}

.img-container, .vid-container{
    /*padding-top: 7%;
    padding-bottom: 0%;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img{
    width: 60%;/*600; /*650px*/ /*do some auto shit later*/
    height: auto; /*400px*/
}

.cage{
    width: 40%;
}

.text{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    margin-bottom: 1em;
    line-height: 1.6;
}

video {
    width: 600px;
    height: 369px;
    object-fit: cover; /* Assure un ajustement harmonieux si la vidéo a des proportions différentes */
}


.vent-box{
    padding-top: 10%;
}

.box-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.entrer{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

footer {
	background-color: #242424;
	color: #FFF;
	margin: 10px;
	text-align: center;
}